.post_detail {
  margin-bottom: 2em;
  text-align: left;
  color: black;
}
.post_detail a {
  margin-left: 40px;
}
.post_title {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}
.post_detail img {
  max-width: 600px;
  margin-top: 2em;
  border-radius: 25px;
}

.post_detail h2 {
  margin: 0;
  text-indent: 20px;
}
.description {
  text-indent: 40px;
}

.post_detail .tags {
  margin-bottom: 1.2em;
  display: flex;
}

.tags :first-child {
  text-indent: 40px;
}
.tags p {
  margin-right: 0.5em;
}

.tags span {
  font-weight: bold;
}

.createdBy {
  font-style: italic;
  color: #444;
  font-size: 0.8em;
  text-decoration: underline;
  margin-right: 18px;
}

.btn {
  background-color: transparent;
  color: black;
  padding: 8px 30px;
  border: 2px black solid;
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 0px;
}

.btn:hover {
  background-color: black;
  border: 2px black solid;
  color: white;
  box-shadow: 1px 1px 1px 1px rgb(70, 69, 69);
}
